{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static '/css/index.css' %}">
	<title>WebApp</title>
</head>

<body class=bg-danger>
	<!-- NAVBAR -->
	{% include 'home/navbar.html' %}
	<!-- END OF NAVBAR -->

	</br>
	</br>

	<div>
		{% if messages %}
		{% for message in messages %}
		<div class="alert alert-{{ message.tags }}">{{ message }}</div>
		{% endfor %}
		{% endif %}
	</div>

	<!-- double curly braces is how we pass in data from db, 
    also curly braces percentages is function to show all the post from db.
    Feel free to change all the html tags and classes -->
	<h1 class="text-white" style="color: white; padding: 15px;">Welcome {{ user.username }}!</h1>

	<div class="container">

		{% for post in posts %}
		<article class="media content-section bg-light" style="border: 2px solid black; margin: 5%">
			<div class="media-body">
				<div class="article-metadata">
					<img src="{{ post.author.profile.image.url }}" style="width: 75px; height: 75px; border-radius: 50%;">
					<a class="mr-2" href="#">{{ post.author }}
						<small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
				</div>

				<a href="/post/{{ post.id }}">{{ post.title }}</a>
				<p class="article-content">{{ post.description }}</p>
			</div>
		</article>
		{% endfor %}
	</div>
</body>

</html>