{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" 
      href="{% static '/css/index.css' %}">
  <title>WebApp</title>
</head>
<body>
  <h1 class="custom-h1">Hello World</h1>
  <a href="/aboutus">About Us</a>
  <h1>Hello World, no style</h1>

  <!-- double curly braces is how we pass in data from db, 
    also curly braces percentages is function to show all the post from db.
    Feel free to change all the html tags and classes -->
  {% for post in posts %}
  <article class="media content-section" style="border: 2px solid black; margin: 5%">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author }}
        <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small> 
      </div>
      <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
      <p class="article-content">{{ post.description }}</p>
    </div>
  </article>
  {% endfor %}
</body>
</html>