{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" 
      href="{% static '/css/index.css' %}">
  <title>WebApp</title>
</head>
<body class= "bg-danger">
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
    <div class= "container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li><a class="nav-link active" href="#">Home</a></li>
        <li><a class="nav-link" href= "/aboutus">About Us</a></li>
        <li><a class="nav-link disabled" href="#" aria-disabled="true">Create A Post</a></li>
        <li><a class="nav-link" href= "/login">Login</a></li>
      </ul>
    </div>
  </nav>
  <!-- END OF NAVBAR -->

  </br>
  </br>
  <h1 class="text-white">Welcome!</h1>
  <!-- double curly braces is how we pass in data from db, 
    also curly braces percentages is function to show all the post from db.
    Feel free to change all the html tags and classes -->
  {% for post in posts %}
  <article class="media content-section bg-light" style="border: 2px solid black; margin: 5%">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author }}
        <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small> 
      </div>
      <h2><a class="article-title text-info" href="#">{{ post.title }}</a></h2>
      <p class="article-content">{{ post.description }}</p>
    </div>
  </article>
  {% endfor %}
</body>
</html>