{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static '/css/index.css' %}">
	<title>Register</title>
</head>

{% block content %}

<body class=bg-danger>
	<!-- NAVBAR -->
	{% include 'home/navbar.html' %}
	<!-- END OF NAVBAR -->

	<!--Register-->
	<div class="container py-5">
	</br>
		<h1 class="text-white" style="text-align: center">Create Post</h1>
	</br>
		<div>
			{% if messages %}
			{% for message in messages %}
			<div class="alert alert-{{ message.tags }}">{{ message }}</div>
			{% endfor %}
			{% endif %}
		</div>
		<form method="POST" style="border: 1px solid black; padding: 20px; background-color: whitesmoke;">
			{% csrf_token %}
			<fieldset class="form-group">
				{{ form|crispy }}
			</fieldset>
			<button class="btn btn-primary" type="submit">Post</button>
		</form>
	</div>
</body>

{% endblock %}