{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static '/css/index.css' %}">
	<title>WebApp</title>
</head>

<body class="bg-danger">
	<!-- NAVBAR -->
	{% include 'home/navbar.html' %}
	<!-- END OF NAVBAR -->
</br>
</br>
	<h1 class="text-light" style="text-align: center">Profile Info</h1>
	<!-- <div class="content-section"> -->
	<div class="container">
		<div class="media bg-light" style="border: 2px solid black; margin: 5%">
			<img class="rounded-circle account-img" src="{{ user.profile.image.url }}" style="width: 150px; height: 150px;">
			<div class="media-body">
				<h2 class="account-heading">{{ user.username }}</h2>
				<p class="text-secondary">{{ user.email }}</p>
			</div>
		</div>
		<div>
			{% if messages %}
			{% for message in messages %}
			<div class="alert alert-{{ message.tags }}">{{ message }}</div>
			{% endfor %}
			{% endif %}
		</div>
		<form method="POST" enctype="multipart/form-data"
			style="border: 1px solid black; padding: 20px; background-color: whitesmoke;">
			{% csrf_token %}
			<fieldset class="form-group">
				{{ u_form|crispy }}
				{{ p_form|crispy }}
			</fieldset>
			<button class="btn btn-primary" type="submit">Update</button>
		</form>
	</div>
</body>
{% endblock content %}