<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>

{% block content %}         
<body class="bg-danger">
<!--Register--> 
<div class="container py-5">
	<h1 class="text-white">Register</h1>
	<div class="bg-light" style="border: 2px solid black; margin: 5%; text-align: center;">
		<form method="POST">
			{% csrf_token %}
			{{ register_form}}     
		</br>               
		<button class="btn btn-primary" type="submit">Register</button>
		</form>
		<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
	</div>
</div>

{% endblock %}
</body>
</html>